<h1>Questions</h1>

<%- @questions.each do |question| -%>
<%= question.content %><br>
<%- end -%>


<%= simple_form_for(@question) do |f| %>
  <%= f.input :content, label: 'Question' %>
  <%= f.submit 'Submit' %>
<%- end -%>