<% if current_user %>

<div class="col-md-4">
  <h3>Ask a Question</h3>
  <%= simple_form_for(@question) do |f| %>
    <%= f.input :content, label_html: { class: "sr-only" } %>
    <%= f.button :submit %>
  <% end %>
</div>

<div class="col-md-8">
  <h3>Submitted Questions</h3>
  <p>
      <%- @questions.each do |question| -%>
        <%= question.content %><br>
      <%- end -%>
  </p>
</div>
<% end %>
