<div class="row">
  <div class="col-md-4">
    {{outlet}}

  </div>

<div class="col-md-8">
  <h1>I'm the Questions Index</h1>
  {{#each}}
  <p>
    {{state}}
    {{body}}
    {{votes.length}}
  </p>
{{/each}}
</div>
</div>


