
 body {
  padding-top: 70px;
}

@media (max-width: 770px) {
  .navbar-text {
    float: none;
    padding: 10px 15px;
  }
}

.power-title {
  font-size: 12em;
  color: #30A9F2;
  text-align: center;
}

.power-phrase {
  font-size: 2.5em;
  text-align: center;
}

.question_state {
  background-color: #E8E8E8;
  color: #333333;
}

.question-state-definition {
  font-size: 0.8em;
}

.question-categories {
  margin-bottom: 10px;
  padding: 5px;
}

.important-category {
  background-color: #FFB283;
}

.sent-category {
  background-color: #FFE9BF;
}

.asked-category {
  background-color: #B7F3DA;
  display: none;
}
